[submodule "vscode-user"]
	path = vscode-user
	url = git@github.com:joehays/vscode-user.git
[submodule "submodules/LazyVim-starter"]
	path = submodules/LazyVim-starter
	url = git@github.com:joehays/LazyVim-starter.git
